ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #f1f1f1;
  
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

p {
  text-align: center;
  font-family: 'Patua One', cursive;
}

h1{
  text-align: center;
  font-family: 'Patua One', cursive;
}

h2{
  text-align: center;
  font-family: 'Patua One', cursive;
}

#character{
  height: 75%;
  width: 75%;
}

dl{
  font-family: 'Patua One', cursive;
}

/* this is for the sidebar */
.sidenav {
height: 100%; /* thisis in charge of putting the sidebar all the way down to the bottom of the screen*/
width: 150px; /*this is self explanatory*/
position: fixed; /*this is important for keeping sidebar in the same place; */
z-index: 1; /*still confused on this???????*/
top: 0; /*how far away fromn the top it is*/
left: 0;/*how far away from the left it is*/
background-color: #366273;
overflow-x: hidden; /* when text is too long for the designated width, this is what makes it so you would either let it go out of the boundary(ugly if done wrong), or allow for a navigation bar to see the whole name*/
padding-top: 20px;/*padding is the space between an elements content and its border*/

}

/* This is for the looks of the links of the sidebar */
.sidenav a{ /*the a specifies what tag is being effected witin the class, that is my assumption*/
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #dac5c5;
  display: block;/*this will put the links on top of each other in a descending order, proper format*/

}

/* this is for the effect of seeing which link you're mouse is hovering over */
.sidenav a:hover{/*assumption is that the hover is an action, everything that occurs within this block will only occur when the action is occuring*/
  color:aliceblue;
}

/* this will make it so that the main contents of the page are to the left of the sidebar */
.main{
  margin-left: 150px;
  padding: 0px 10px;
}

/* this will be to center images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}